@use "../theme/tokens.scss" as *;

body,
html {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  color: $primary-color;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: var(--gradient-page);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(5px);
  overflow-x: hidden;
  // overflow-y: hidden;    
}


