@use "../theme/colors" as *;

.cards__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.holographic__card {
  display: flex;
  width: 400px;
  height: 242px;
  background: #111;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
  margin: 20px;
}

.card__content {
  text-align: center;
  padding: 30px;
}

.holographic__card h3 {
  margin: 10px 0;
  font-size: 26px;
  position: relative;
  z-index: 2;
}

.holographic__card p {
  line-height: 140%;
  color: $primary-color;
}

.holographic__card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    $primary-color
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.holographic__card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px $color-accent;
}

.holographic__card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
