.contacts__title {
  margin-bottom: 15px;
  font-size: 28px;
}

.contacts .card {
  width: fit-content;
  height: fit-content;
  display: block;
}

.contacts .card:hover {
  box-shadow: 0 0 20px var(--color-accent);
}

.contacts .card__img {
  width: 250px;
  height: 250px;
}
