@use "../theme/colors.scss" as *;
@use "../configs" as *;

.contacts {
  @include scollbar;
  height: 650px;

  .contacts__title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .card {
    @include width-height(fit-content, fit-content);
    display: block;
  }

  .card:hover {
    box-shadow: 0 0 20px $color-accent;
  }

  .card__img {
    width: 250px;
    height: 250px;
  }
}
