@use "../theme/colors" as *;
@use "../configs" as *;

.not-found {
  @include flex-column-center;
}

.not-found__block {
  text-align: center;
}

.not-found__text {
  font-size: 20px;
  margin-bottom: 25px;
}

.not-found__btn {
  padding: 18px 22px;
  border: none;
  outline: none;
  color: $color-white;
  background: transparent;
  cursor: pointer;

  @include glowing-border-btn;

  &:active {
    font-size: smaller;
  }
}
