@use "../theme/colors.scss" as *;
@use "../configs" as *;

.contacts {
  @include scollbar;
  height: 650px;

  .card {
    @include width-height(400px, fit-content);
    display: block;
  }

  .card:hover {
    box-shadow: 0 0 20px $color-accent;
  }

  .card__img {
    width: 250px;
    height: 250px;
  }
}

.contacts__title {
  margin-bottom: 15px;
  font-size: 1.75rem; // 28px
}
