@use "../theme/colors.scss" as *;
@use "../configs/mixins.scss" as *;

.contacts {
  height: 650px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $color-btn-bg $primary-color;

  & article {
    @include width-height(400px, fit-content);
  }
}

.contacts__title {
  margin-bottom: 15px;
  font-size: 1.75rem; // 28px
}
