@use "../configs" as *;

.cards__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  @include width-height(400px, 240px);
  display: flex;
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 15px;
  background: var(--color-bg-surface);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.card__content {
  padding: 30px;
  text-align: center;
}

.card__title {
  position: relative;
  z-index: 2;
  margin: 10px 0;
  font-size: 26px;
}

.card__description {
  line-height: 140%;
  color: var(--color-text-primary);
}
