@use "../configs" as *;

.header {
  margin-bottom: 75px;
  border-bottom: 1px solid var(--border-subtle);
}

.header__content {
  @include flex-between-center;
}

.header__logo {
  flex-grow: 1;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  gap: 37px;
}

.header__nav-item {
  @include underline-gradient(var(--color-white), var(--color-accent));
}

.header__nav-link {
  font-size: 20px;
}

.header__btn {
  margin-left: 25px;
  padding: 16px 20px;
  border: none;
  outline: none;
  color: var(--color-white);
  background: transparent;
  cursor: pointer;

  @include glowing-border-btn;

  &:active {
    font-size: smaller;
  }
}
