@mixin flex-box(
  $direction: row,
  $justify: flex-start,
  $align: stretch,
  $gap: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  @if gap != null {
    gap: $gap;
  }
}

@mixin flex-center {
  @include flex-box(row, center, center);
}

@mixin flex-between-center {
  @include flex-box(row, space-between, center);
}

@mixin flex-column-center {
  @include flex-box(column, space-between, center);
}

@mixin flex-column-gap($value) {
  @include flex-box(column, flex-start, flex-start, $value);
}
