@use "../../theme/colors" as *;

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin scollbar {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $color-btn-bg $primary-color;
}

@mixin backdrop-bg {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  background: rgba(255, 255, 255, 0.02);
  padding: 20px 14px;
  backdrop-filter: blur(8px);
}
