@use "../../configs" as *;

@forward "./sections/hero";
@forward "./sections/what";
@forward "./sections/experience";
@forward "./sections/process";
@forward "./sections/goals";

.about {
  @include flex-column-gap(34px);
  color: var(--color-white);
}

.about__link {
  width: 100%;
  justify-content: center;
  margin-right: 0;
  @include glass-link;
}

@include respond(md) {
  .about {
    gap: 42px;
  }

  .about__link {
    width: auto;
    margin-right: auto;
    justify-content: flex-start;
  }
}

@include respond(lg) {
  .about {
    gap: 50px;
  }
}
