@use "../../configs" as *;

@forward "./sections/hero";
@forward "./sections/what";
@forward "./sections/process";
@forward "./sections/skills";
@forward "./sections/goals";

@forward "./dot-nav";

.about {
  @include flex-column-gap(50px);
  color: var(--color-white);
}

.about__title {
  margin-bottom: 15px;
  font-size: 28px;
}

.about__list {
  @include flex-column-gap(10px);
}

.about__list--item {
  @include row-base(21px, 400);
}

.portfolio__list {
  @include flex-column-gap(30px);
}

.portfolio__list--item {
  @include flex-column-gap(16px);
}

.portfolio__title {
  @include row-base(21px, 700);
}

.portfolio__task {
  @include row-base(17px, 400);
  line-height: 1.5;
}

.about__link {
  margin-right: auto;
  @include glass-link;
}
