/* Все звёзды имеют общий класс */
.star {
  position: absolute;
  z-index: -1;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  animation: twinkle 3s infinite alternate;
}

/* Анимация мерцания звёзд */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
